{% extends 'base.html' %}

{% block title %} Завершение составления тренировочной программы {% endblock %}

{% block content %}
<div class="container text-warning border-warning">
    <div class="border-bottom border-warning">
        <h1 class="display-4 mb-3 mt-3 text-center">Спасибо, что хотите увеличить набор наших тренеровочных программ!</h1>
    </div>
    <div class=" container border-bottom border-warning">
        <h1 class="display-5 mb-3 mt-3">Ваша тренеровочная программа отправлена на модерацию. После рассмотрения вашей программы вам на почту придёт результат проверки.</h1>
    </div>
    <div class="container text-center">
        <a href="{% url 'program_list' %}" class="btn btn-outline-warning btn-lg">К списку тренировочных программ</a>
    </div>
</div>
{% endblock %}