{% extends 'main/base_main.html' %}
{% load static %}
{% load main_tags %}

{% block title %}Упражнения{% endblock %}

{% block content %}
<div class="container text-warning">
    <h1 class="f-5 mb-2 mt-2">Упражнения</h1>
    <div class="rounded border border-warning">
        <div class="row">
            <div class="col-9 mt-3">
                {% for exercise in exercises %}
                <div class="ms-3">
                    <div class="row">
                        <div class="col-9">
                            <h2>
                                {{ forloop.counter }}.
                                <span class="badge bg-warning text-dark">{{ exercise.category }}</span>
                                {{ exercise.title }}
                            </h2>
                        </div>
                        <div class="col text-end">
                            <a href="{{ exercise.get_absolute_url }}" class="btn btn-outline-info btn-block w-100">Подробнее</a>
                        </div>
                    </div>
                </div>
                {% empty %}
                {% if search_word %}<div class="text-center"><h1 class="f-6">По вашему запросу ничего не найдено</h1></div>{% endif %}
                {% endfor %}
            </div>
            <div class="col border-start border-warning mt-3">
                <div class="container">
                    <div class="border-bottom border-warning">
                        <h2 class="text-center mb-2">Раздел упражнений</h2>
                    </div>
                    <br>
                    <h4>Всего упражнений: {{ page_obj.paginator.count }}</h4>
                    <form role="search" method="get" action="{% url 'exercises_search_list' %}">
                        <input class="form-control" type="search" name="search_word" placeholder="Search" aria-label="Search">
                    </form>
                    <br>
                    {% get_category_list %}
                    {% get_filter_list cur_filter backup_url search_word %}
                </div>
            </div>
        </div>
    </div>

    {% include 'main/_inc/_paginate.html' %}

</div>
{% endblock %}