
<a class="dropdown-item text-start" href="{% url 'program_list' %}">
    All <span class="badge bg-danger text-white">{{ program_cnt }}</span>
</a>
{% for category in category_list|slice:':2' %}
<div class="row border-top border-warning">
    <a class="text-warning text-decoration-none mt-1 mb-1 text-start" href="{% url 'exercises_category_list' category.title %}">
        {{ category.title }} <span class="badge bg-danger text-white">{{ category.cnt }}</span>
    </a>
</div>
{% endfor %}
<div class="collapse" id="categories">
    {% for category in category_list|slice:'2:' %}
    <div class="row border-top border-warning">
        <a class="text-warning text-decoration-none mt-1 mb-1 text-start" href="{% url 'exercises_category_list' category.title %}">
            {{ category.title }} <span class="badge bg-danger text-white">{{ category.cnt }}</span>
        </a>
    </div>
    {% endfor %}
</div>
<button class="btn btn-outline-warning btn-block btn-sm" data-bs-toggle="collapse" data-bs-target="#categories">...</button>
