<div class="row">
    {% for filter, label in filter_list %}
    <div class="col">
        {% if filter == cur_filter %}
        {% if search_word %}
        <a class="btn btn-outline-warning mt-1 mb-1 btn-sm active w-100" href="{{ backup_url }}?search_word={{ search_word }}">
            {{ label }}
        </a>
        {% else %}
        <a class="btn btn-outline-warning mt-1 mb-1 btn-sm active w-100" href="{{ backup_url }}">
            {{ label }}
        </a>
        {% endif %}
        {% else %}
        {% if search_word %}
        <a class="btn btn-outline-warning mt-1 mb-1 btn-sm w-100" href="?filter_by={{ filter }}&search_word={{ search_word }}">
            {{ label }}
        </a>
        {% else %}
        <a class="btn btn-outline-warning mt-1 mb-1 btn-sm w-100" href="?filter_by={{ filter }}">
            {{ label }}
        </a>
        {% endif %}
        {% endif %}
    </div>
    {% endfor %}
</div>