{% extends 'main/base_main.html' %}
{% load static %}
{% load main_tags %}

{% block title %}Тренировочные программы{% endblock %}

{% block content %}
<div class="container text-warning">
    <h1 class="f-5 mb-2 mt-2">{{ page_header }}</h1>
    <div class="border-top border-warning">
        <div class="row">
            <div class="col">
                <div class="row row-cols-1 row-cols-md-2 mb-3 text-center mt-3">
                    {% for program in train_programs %}
                    <div class="col mb-3">
                        <div class="card mb-4 rounded-3 shadow-sm bg-dark border-warning h-100">
                            <div class="card-header py-3 bg-warning text-dark">
                                <h4 class="my-0 fw-normal">{{ program.category.title }}</h4>
                            </div>
                            <div class="card-body text-start position-relative">
                                <h1 class="card-title pricing-card-title">{{ program.title }}</h1>
                                <p>{{ program.description|slice:':50' }}...</p>
                                <ul class="text-muted">
                                    <li><span>Кол-во занятий: {{ program.training_count }}</span></li>
                                    <li><span>Занятий в неделю: {{ program.days_in_week }}</span></li>
                                    <li><span>Кол-во упражнений: {{ program.exercises.all|length }}</span></li>
                                    <li><span>Кол-во подходов: {{ program.training_count }}</span></li>
                                    <li><span>Кол-во повторений для каждого подхода: {{ program.retry_exercises }}</span></li>
                                </ul>
                                <div class="container text-center border-top border-warning">
                                    <h5>По данной программе тренеруются: {{ program.popularity }} чел.</h5>
                                </div>
                                {% if program.author %}<p class="text-warning position-absolute bottom-0 end-0 me-3">by {{ program.author.username }}</p>{% endif %}
                            </div>
                            <div class="card-footer">
                                <a type="button" class="w-100 btn btn-lg btn-outline-primary" href="{{ program.get_absolute_url }}">Подробнее</a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>

            <div class="col-4">
                <div class="border border-warning rounded mt-3 container">
                    <div class="border-bottom border-warning">
                        <h2 class="text-center mb-2">Тренировочные программы</h2>
                    </div>
                    <br>
                    <h4>Всего программ: {{ page_obj.paginator.count }}</h4>
                    <form role="search" method="get" action="{% url 'program_list_search' %}" class="mt-2">
                        <input class="form-control" type="search" name="search_word" placeholder="Search" aria-label="Search">
                    </form>
                    <div class="row mt-2">
                        <div class="col text-center">
                            <h1 class="fs-3">Categories</h1>
                            {% get_program_category_list %}
                        </div>
                        <div class="col border-start border-warning text-center">
                            <h1 class="fs-3">Filters</h1>
                            {% get_program_filter_list %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include 'main/_inc/_paginate.html' %}

    <div class="container text-center border-top border-warning">
        <h1 class="display-5 mb-2 mt-2">Не нашли нужную тренировочную программу? Предложите свою!</h1>
        <a href="{% url 'create_custom_program' %}" class="btn btn-outline-warning btn-lg">Перейти к составлению тренеровочной программы</a>
    </div>
</div>
{% endblock %}