{% extends 'auth_app/base_auth_app.html' %}

{% block title %} Добро пожаловать {% endblock %}

{% block content %}
<div class="container text-center">
    <h1 class="display-6">Авторизация</h1>
</div>
<form method="post" id="login_form">
    <div class="form-group">
        {% csrf_token %}
        {{ form.as_p }}
    </div>
</form>
<div class="container border-top border-warning w-50 text-center ">
    <div class="row mt-3 mb-2">
        <input type="submit" class="btn btn-outline-warning text-center btn-lg" form="login_form" value="Войти">
    </div>
    <div class="row mt-2 mb-2">
        <a href="{% url 'register' %}" class="text-decoration-none text-warning">Регистрация</a>
    </div>
    <div class="row mt-2 mb-2">
        <a href="{% url 'password_reset' %}" class="text-decoration-none text-secondary">Забыл пароль</a>
    </div>
</div>
{% endblock %}