{% extends 'base.html' %}

{% block title %} Додзё {% endblock %}

{% block content %}
<div class="container">
    <div class="text-warning border-bottom border-warning">
        <h1 class="display-6">Додзё</h1>
    </div>
    <br>
    <div class="container rounded border-warning border text-warning">
        <h1 class="display-6">Сегодняшняя тренировка</h1>
        <br>
        <h2 class="text-center mb-3">Сегодня тренировок нет!</h2>
    </div>
    <br>
    <div class="container rounded border-warning border text-warning">
        <div class="position-relative">
            <h1 class="display-6">Расписание
                {% if user.training.first.mailing %}
                <a type="button" class="text-warning position-absolute top-0 end-0 mt-2 me-2" data-bs-toggle="modal" data-bs-target="#end_mailing">
                    <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-bell-fill" viewBox="0 0 16 16">
                        <path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zm.995-14.901a1 1 0 1 0-1.99 0A5.002 5.002 0 0 0 3 6c0 1.098-.5 6-2 7h14c-1.5-1-2-5.902-2-7 0-2.42-1.72-4.44-4.005-4.901z"/>
                    </svg>
                </a>
                {% else %}
                <a type="button" class="text-warning position-absolute top-0 end-0 mt-2 me-2" data-bs-toggle="modal" data-bs-target="#start_mailing">
                    <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-bell" viewBox="0 0 16 16">
                        <path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zM8 1.918l-.797.161A4.002 4.002 0 0 0 4 6c0 .628-.134 2.197-.459 3.742-.16.767-.376 1.566-.663 2.258h10.244c-.287-.692-.502-1.49-.663-2.258C12.134 8.197 12 6.628 12 6a4.002 4.002 0 0 0-3.203-3.92L8 1.917zM14.22 12c.223.447.481.801.78 1H1c.299-.199.557-.553.78-1C2.68 10.2 3 6.88 3 6c0-2.42 1.72-4.44 4.005-4.901a1 1 0 1 1 1.99 0A5.002 5.002 0 0 1 13 6c0 .88.32 4.2 1.22 6z"/>
                    </svg>
                </a>
                {% endif %}
            </h1>

            <!-- Modal Mailing Start -->
                <div class="modal fade" id="start_mailing" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content bg-warning bg-warning text-dark">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Уведомления</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <h3 class="border-bottom border-dark">Включить уведомления о тренировках?</h3>
                                <p class="text-muted">Уведомления будут приходить на почту, которую вы указали при регистрации.</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Нет</button>
                                <a href="{% url 'start_mailing' %}" type="button" class="btn btn-success">Да</a>
                            </div>
                        </div>
                    </div>
                </div>

            <!-- Modal Mailing End -->
                <div class="modal fade" id="end_mailing" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content bg-warning bg-warning text-dark">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel1">Уведомления</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <h3 class="border-bottom border-dark">Выключить уведомления о тренировках?</h3>
                                <p class="text-muted">Напоминания о  тренеровках больше не будут приходить вам на почту.</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Нет</button>
                                <a href="{% url 'start_mailing' %}" type="button" class="btn btn-success">Да</a>
                            </div>
                        </div>
                    </div>
                </div>

        </div>
        <br>
        <div class="row">
            {% for schedule in schedules %}
            <div class="col">
                <div class="card mb-3 bg-dark border border-warning rounded">
                    <div class="card-body">
                        <div class="card-header border-warning mb-3">
                            <h5 class="card-title text-center">{{ schedule.day }}</h5>
                        </div>
                        {% for category in schedule.exercises.all %}
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item text-center bg-dark">
                                <button class="btn btn-outline-warning btn-block btn-lg w-100" data-bs-toggle="collapse" data-bs-target="#{{ schedule.day }}_{{ category }}">{{ category }}</button>
                                <div class="collapse" id="{{ schedule.day }}_{{ category }}">
                                    <ul class="bg-dark p-4 border-warning border rounded">
                                        {% for exercise in exercises %}
                                        {% if exercise.category == category %}
                                        <li class="text-start text-warning">
                                            <h4><a href="{% url 'exercises_detail' exercise.pk %}" class="text-decoration-none text-warning">{{ exercise.title }}</a></h4>
                                        </li>
                                        {% endif %}
                                        {% endfor %}
                                    </ul>
                                </div>
                            </li>
                        </ul>
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <br>

    <div class="container rounded border-warning border text-warning">
        <h1 class="display-6">Достижения</h1>
        <br>
    </div>


</div>
{% endblock %}

Сегодняшняя тренировка


Начать тренировку
после выполнения отображаемого упражнения нажимается кнопка далее и отображается следующее упражнение
время начала и конца тренировки запоминается и в кноце выводится результат

Достижения
пользователь указывает сколько он веса берёт на каждое упражнение
при переходе на другую программу данные достижений будут переносится