{% extends 'base.html' %}

{% block title %} Начало тренировки {% endblock %}

{% block content %}
<div class="container">
    <div class="text-warning border-bottom border-warning">
        <h1>Предворительные настройки тренеровочной программы</h1>
    </div>
    <br>
    <div class="form-group container rounded border-warning border text-warning">
        {% if formset.non_form_errors %}
        <h2>{{formset.non_form_errors}}</h2>
        {% endif %}
        <form method="post">
            {{ formset.management_form }}

            {% for form in formset %}
            {% csrf_token %}
            <p>{{ form.day.label }}:</p>
            <p>{{ form.day }}</p>

            <p>{{ form.exercises.label }}:</p>
            {{ form.exercises }}
            <br>
<!--            <p>-->
<!--            <div>-->
<!--                <ul>-->
<!--                    {% for pk, choice in form.exercises.field.widget.choices %}-->
<!--                    <li>-->
<!--                        <label for="id_{{field.name}}_{{ forloop.counter0 }}">-->
<!--                            <input id="id_{{field.name}}_{{ forloop.counter0 }}" name="{{field.name}}" type="checkbox" value="{{pk}}" />-->
<!--                            {{ choice }}-->
<!--                        </label>-->
<!--                    </li>-->
<!--                    {% endfor %}-->
<!--                </ul>-->
<!--            </div>-->
<!--            </p>-->
            {% endfor %}


            {{form.exercises.field.widget.choices}}



            <input type="submit" class="btn btn-success" value="Продолжить">
        </form>
    </div>

</div>
{% endblock %}